
th {
  color: #edc;
  background-color: #455;
}
tr td {
  color: #223;
  background-color: $texas-rose;
}
tr.odd td {
  color: #223;
  background-color: #ec8;
}
tr.highlight td {
  color: #223;
  background-color: #cba;
}
